body {
  font-size: 1.1em;
  line-height: 1.1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.App {
  text-align: center;
}

.App-logo {
  float: left;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo:last-of-type {
  margin-left: 10px;
  margin-right: 10px;
  height: 82px;
}

.App-header {
  background-color: #222;
  height: 25px;
  padding: 20px;
  color: white;
  box-shadow: 2px 1px 3px 0 rgba(0,0,0,.5);
}

.App-header h2 {
  text-align: left;
  margin-top: 5px;
}

.App-content {
  margin-top: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 750px) {
  .App-header h2 {
    font-size: 1.3em;
  }
}
