.errors {
  border: 1px solid #c72f38;
  padding: 15px;
  min-height: 30px;
  border-radius: 2px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.69);
  list-style-type: disc;
}

.errors .error {
  margin-top: 5px;
  display: flex;
  font-size: 0.9em;
  text-align: left;
}

.errors .exclamation {
  margin-top: 5px;
  color: #c72f38;
  font-size: 1.3em;
  float: right;
}

.errors span.error {
  font-size: .5em;
  color: #c72f38;
  margin-top: 6px;
  margin-right: 7px;
}
