.form-view-port {
/*  width: 480px;*/
  width: 480px;
  position: relative;
  overflow-x: hidden;
  display: inline;
  height: 600px;
}

.form-container {
  overflow-x: hidden;
  transition: margin-left 0.5s;
  width: 1380px;
  display: inline-block;
}

.login,
.register {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 20px;
  margin: 20px auto;
  margin-top: 50px;
  padding: 10px 30px;
}

.login label,
.register label
{
  text-align: left;
}

.login input[type="submit"],
.register input[type="submit"] {
  background-color: #365a8b;
  color: #fff;
}

.login .button,
.register .button {
  color: #fff;
  border: 0;
  line-height: inherit;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  height: 48px;
  margin-top: 20px;
  width: 100%;
  /*margin-right: 10px;*/
  /*margin-left: 10px;*/
  padding: 13px 0;
  border-radius: 2px;
  background-color: #365a8b;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.69);
}

.login input,
.register input {
  font-weight: 300;

  /*display: block;*/
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 1.1em;
  line-height: 1.1em;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border-width: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  /*border-radius: 2px;*/
}

.login input:focus,
.register input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #365a8b;
}

.login label,
.register label {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
