.Login {
  margin-top: 20px;
  width: 400px;
  margin: 20px auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;

  display: -webkit-box;
  display: flex;
  margin-top: 50px;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*padding: 10px 30px;*/
  /*border-radius: 2px;*/
  /*background-color: rgba(183,183,183,.2);*/
  /*box-shadow: 1px 1px 3px 0 rgba(0,0,0,.16);*/
}

.Login form {
  display: inline-block;
  width: 100%;
  overflow-x: hidden;
}

.Login label {
  text-align: left;
  /*display: block;*/
  /*display: inline-block;*/
}

.Login input[type="submit"] {
  background-color: #365a8b;
  color: #fff;
}

.Login .button {
  color: #fff;
  border: 0;
  line-height: inherit;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  height: 48px;
  margin-top: 20px;
  width: 100%;
  /*margin-right: 10px;*/
  /*margin-left: 10px;*/
  padding: 13px 0;
  border-radius: 2px;
  background-color: #365a8b;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.69);
}

.Login input {
  font-weight: 300;

  /*display: block;*/
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 1.1em;
  line-height: 1.1em;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border-width: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  /*border-radius: 2px;*/
}

.Login input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #365a8b;
}
