<div class="main-content body-background">

  {{yield}}

  <div class="footer">
    <a target="_blank" href="http://www.inversoft.com/products/user-database-sso" class="w-inline-block">
      <img alt="Powered by Passport" width="350" src="images/powered_by_passport.png">
    </a>
  </div>
</div>