<div class="header">
  <div class="logo left">
    <a href="/">
      <img alt="Inversoft ToDo's" width="275" src="images/passport-logo.png">
    </a>
  </div>

  {{#if loggedIn}}
    <div class="right clearfix">
      <div class="user-details">
      <span class="greeting">{{loggedInEmail}}</span>
      {{#link-to "logout"  class="button"}}
        Logout
      {{/link-to}}
      </div>
    </div>
  {{/if}}

</div>