<div class="todo-task open flex-child-div">
    <div class="check-mark-div">
        <i class="fa fa-square-o fa-2x"></i>
    </div>
    <div class="task-div">
        <div class="w-richtext">
          {{input id="text" class="w-input" type="text" placeholder="Add a ToDo..." value=text}}
        </div>
    </div>
    <div class="action">
      <i class="link fa fa-plus fa-2x" {{action "create" text}}></i>
    </div>
</div>