<div class="main-content body-background">
  <div class="header">
      <div class="logo left">
        <a href="/">
          <img alt="Inversoft ToDo's" width="275" src="images/Passport-App-UI-4.png">
        </a>
      </div>

      {{#if loggedIn}}
        <div class="right clearfix">
          {{#link-to "logout"  class="w-button logout-button"}}
            Logout
          {{/link-to}}
        </div>
      {{/if}}
  </div>

  <div class="container">
    {{outlet}}
  </div>

  <div class="footer">
    <a target="_blank" href="http://www.inversoft.com/products/user-database-sso" class="w-inline-block">
      <img alt="Powered by Passport" width="350" src="images/Passport-App-UI-5.png">
    </a>
  </div>
</div>
