<div class="flex-parent-login background">
    <div class="header">
        <div>
            <div class="w-row">
                <div class="w-col w-col-8"><img alt="inversoft todo logo" width="275"
                                                src="images/Passport-App-UI-4.png">
                </div>
                <div class="w-col w-col-4">
                    <div class="w-clearfix">
                      {{#link-to "logout"  class="w-button logout-button"}}
                          Logout
                      {{/link-to}}
                    </div>
                </div>
            </div>
        </div>
    </div>
  {{outlet}}
    <div class="footer-wrapper">
        <a href="http://www.inversoft.com/products/user-database-sso" class="w-inline-block"><img
                alt="powered by passport" width="350" src="images/Passport-App-UI-5.png"></a>
    </div>
</div>

