<div class="w-section sectionttabs">
    <div class="w-container tabs-container">
        <div data-duration-in="300" data-duration-out="100" class="w-tabs">
            <div class="w-tab-menu w-clearfix tabs-menu">
                <a data-w-tab="active" class="w-tab-link w--current w-inline-block tabs">
                    <div>Active Tasks</div>
                </a>
              {{#link-to "completed" data-w-tab="completed" class="w-tab-link w-inline-block tabs"}}
                  <div>completed tasks</div>
              {{/link-to}}
            </div>
            <div class="w-tab-content tabs-content-shadow">
                <div data-w-tab="active" class="w-tab-pane w--tab-active active-tab-scroll">
                    <div class="active-tasks-child-div">
                        {{!-- Open ToDo TO be Added --}}
                        <div class="todo-task open flex-child-div">
                          <div class="check-mark-div">
                              <i class="fa fa-square-o fa-2x"></i>
                          </div>
                          <div class="task-div">
                              <div class="w-richtext">
                                {{input id="text" class="w-input" type="text" placeholder="Add a ToDo..." value=text}}
                              </div>
                          </div>
                          <div class="action"><input type="image" width="30" src="images/Passport-App-UI-11.png" class="add" {{action "create" text}}></div>
                      </div>
                      {{!-- List all current ToDos --}}
                      {{#each model as |todo|}}
                        {{#unless todo.completed}}
                          {{to-do todo=todo complete="complete" delete="delete" update="update"}}
                        {{/unless}}
                      {{/each}}
                    </div>
                </div>
                <div data-w-tab="completed" class="w-tab-pane active-tab-scroll"></div>
            </div>
        </div>
    </div>
</div>