<div class="w-section sectionttabs">
    <div class="w-container tabs-container">
        <div class="w-tabs">
            <div class="w-tab-menu w-clearfix tabs-menu">
                <a class="w-tab-link w--current w-inline-block tabs">
                    <div>Active</div>
                </a>
              {{#link-to "completed" class="w-tab-link w-inline-block tabs"}}
                  <div>Completed</div>
              {{/link-to}}
            </div>
            <div class="w-tab-content tabs-content-shadow">
                <div class="w-tab-pane w--tab-active active-tab-scroll">
                    <div class="active-tasks-child-div">
                      {{!-- Create a new ToDo --}}
                      {{new-to-do create="create"}}

                      {{!-- List all non-completed (active) ToDos --}}
                        <div class="todo-container">
                          <div class="shadow">
                            {{#each model as |todo|}}
                              {{#unless todo.completed}}
                                {{to-do todo=todo complete="complete" delete="delete" reload="reload" update="update"}}
                              {{/unless}}
                            {{/each}}
                          </div>
                        </div>
                    </div>
                </div>
                <div class="w-tab-pane active-tab-scroll"></div>
            </div>
        </div>
    </div>
</div>