<div class="w-section">
    <div class="main-content-div">
        <div class="side-block"></div>
        <div class="main-content-div">
            <div class="form-div">
                <h1 class="h1-pp">Email verified!</h1>
              {{#link-to "login" class="w-button login-register-button"}}Click here to login.{{/link-to}}
            </div>
        </div>
        <div class="side-block"></div>
    </div>
</div>