<div class="box">
  <div class="content">
    <div class="form">
      <h1>Your email address has been verified.</h1>
      {{link-to "Click here to login." "login" class="button"}}
    </div>
  </div>
</div>
