{{#content-main}}
  {{content-header}}

  <div class="box">
    <div class="content">
      <div class="form">
        <h1>Email verified!</h1>
        {{link-to "Click here to login." "login" class="login-button"}}
      </div>
    </div>
  </div>

{{/content-main}}