body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.body-background {
  height: 100vh;
  background-image: -webkit-linear-gradient(314deg, #2a4370, #4dbd90);
  background-image: linear-gradient(136deg, #2a4370, #4dbd90);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header .logo {
  padding-top: 7px;
  padding-left: 7px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.flex-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0;
  background-color: #edeff1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .28);
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-content .container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 940px;
  display: flex;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

button {
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 40%;
  height: 48px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 13px 0px;
  border-radius: 2px;
  background-color: #365a8b;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .69);
}

input,
select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

input:focus,
select:focus {
  border: 1px solid #3898EC;
  outline: 0;
}

.link {
  cursor: pointer;
}

.cursor-none {
  cursor: default !important;
}

.content {
  padding: 30px 46px 50px 46px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 30px 60px 30px 60px;
  border-radius: 2px;
  background-color: rgba(183, 183, 183, 0.2);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .16);
}

/* Login */
.login {
  margin: 0 auto;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}

.login form {
  margin-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(161, 157, 158);
  width: 400px;
}

.login .form h1 {
  display: block;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.login .form p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #e4dfdf;
  font-weight: 300;
}

.login button {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
}

.login .login-button {
  background-color: #365a8b;
  color: #fff;
}

.login .login-button:hover {
  background-color: #2d476b;
  color: #fff;
}

.login .register-button {
  background-color: #4dbd90;
}

.login .register-button:hover {
  background-color: #358a68;
  color: #fff;
}

/* Errors and Warnings */
div.warning {
  border: 1px solid #b91f0f;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

div.errors {
  float: left;
  color: #bf1c0d;
  margin-left: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: rgba(220, 220, 220, 0.55);
}

input.errors {
  border: 2px solid #b91c0d;
}

.todo-container {
  min-height: 60vh;
  max-height: 65vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.todo-container .shadow {
  height: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
}

.todo-task {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0;
  background-color: #edeff1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .28);
}

.todo-task input[type="text"] {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

.todo-task.open {
  margin-bottom: 5px;
}

.todo-task div.action.delete i {
  color: #dc0000;
}

.todo-task .text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  white-space: pre-wrap;
  padding: 15px;

  display: block;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.todo-task .text input[type="text"],
.todo-task .text span {
  padding: 8px 12px;
}

.todo-task .text span {
  border: 1px solid transparent;
}

.todo-task .action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.todo-task .action i {
  cursor: pointer;
}

.todo-task .action:first-of-type {
  border-left: none;
  border-right: 2px solid #d7e0dc;
}

/* Code Tag  </>  */
.code-tag {
  padding: 0 1px 0 5px;
  display: inline-block;
  margin-bottom: -20px;
}

.code-tag span {
  font-weight: 300;
  color: rgb(51, 71, 95);
  line-height: 1.4em;
  font-size: 1.0em;
  font-family: 'Lucida Sans Unicode', 'Lucida Sans Typewriter', sans-serif;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -7px;
}

.code-tag span:nth-child(1) {
  letter-spacing: -10px;
  -webkit-transform: rotate(50deg) translateY(-3px);
  -moz-transform: rotate(50deg) translateY(-3px);
  -o-transform: rotate(50deg) translateY(-3px);
  -ms-transform: rotate(50deg) translateY(-3px);
  transform: rotate(50deg) translateY(-3px);
}

.code-tag span:nth-child(2) {
  line-height: 1.4em;
  font-size: 1.4em;
  vertical-align: inherit;
}

.code-tag span:nth-child(3) {
  letter-spacing: 2px;
  -webkit-transform: rotate(220deg) translateY(-8px);
  -moz-transform: rotate(220deg) translateY(-8px);
  -o-transform: rotate(220deg) translateY(-8px);
  -ms-transform: rotate(220deg) translateY(-8px);
  transform: rotate(220deg) translateY(-8px);
}
/* Tabs */
.tabs {
  position: relative;
}

.tabs-menu {
  position: relative;
  margin-bottom: 2px;
}

.tabs-menu:before,
.tabs-menu:after {
  content: " ";
  display: table;
}
.tabs-menu:after {
  clear: both;
}

.tabs {
  margin-top: 45px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}



.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.tab {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
  border-radius: 0 2px 0 0;
  background-color: #ddd;
  font-family: Lato, sans-serif;
  color: #5b595e;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .14);
  padding: 18px 30px 15px;
}

.tab:nth-of-type(1) {
  border-radius: 1px 0 0 0;
  border-right: 1px solid #5b595e;
}

.tab:nth-of-type(2) {
  border-radius: 0 1px 0 0;
}

.tab.selected {
  opacity: 1;
  background-color: #edeff1;
  border-radius: 0;
}

.tab.selected:before {
  content:'';
  width:100%;
  height:7px;
  background-color: #4dbd90;
  position:absolute;
  left: 0;
  top:-7px;
  border-radius: 1px 1px 0 0;
}

.tab-content {
  position: relative;
  display: block;
  overflow: hidden;
}

/* Media */
@media (max-width: 991px) {
  .header {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .todo-task .action {
    width: 9%;
  }
  .form {
    margin-top: 50px;
    margin-bottom: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .tabs {
    margin-left: 2em;
    margin-right: 2em;
  }
  .logout-button {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    text-align: center;
  }
  .todo-task .action {
    width: 10%;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .active-tasks-scroll-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-block {
    font-weight: 400;
  }
  .completed-tasks-scroll-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .add {
    margin-top: 10px;
  }
  .logout-button {
    margin-top: 0px;
    float: none;
  }
  .tabs {
    font-size: 19px;
  }
}

@media (max-width: 479px) {
  .content {
    padding: 15px 0;
  }
  .header .logo img {
    width: 65%;
    height: 65%;
  }
  .footer img {
    width: 65%;
    height: 65%;
  }
  .login form {
    width: 100%;
    padding-bottom: 15px;
  }
  .login .form h1 {
    margin-top: 5px;
  }
  .login .register-button {
    margin-top: 15px;
  }
  .form {
    width: 100vw;
    margin-top: 5px;
    border-radius: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .login {
    margin-left: 0;
    margin-right: 0;
  }
  .todo-task .action {
    width: 14%;
  }
  .text-flex-child {
    margin-right: 12px;
    margin-left: 12px;
    padding-right: 25px;
    font-size: 14px;
  }
  .tabs {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    font-size: 14px;
  }
}
