body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #464242;
  font-size: 15px;
  font-weight: 300;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.form-wrapper {
  width: 75%;
  max-width: 600px;
  margin-top: 10px;
  padding: 25px;
  border-radius: 5px;
  background-color: #dfe8e4;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .16);
}

.flex-parent-task {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-parent-task.background {
  height: 0px;
  min-height: auto;
}

.todo-task input[type="text"] {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

.todo-task.open {
  margin-bottom: 5px;
}

.todo-task div.action.delete i {
  color: #dc0000;
}

.todo-task .text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  white-space: pre-wrap;
  padding: 8px 12px;
  display: block;
}

.header .logo {
  padding-top: 10px;
}

.header .user-actions {
  float: right;
  display: inline-block;
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #e4dfdf;
  font-weight: 300;
}

.header .user-actions span.logout {
  margin-left: 20px;
  background-color: #3898EC;
  cursor: pointer;
  padding: 7px 10px;
}
.header .user-actions span.logout a {
  color: white;
  text-decoration: none;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.side-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.h1-pp {
  display: block;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.login-register-button {
  width: 40%;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 13px 0px;
  border-radius: 2px;
  background-color: #365a8b;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .69);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.login-register-button:hover {
  background-color: #2d476b;
}

.login-register-button.green {
  background-color: #4dbd90;
}

.login-register-button.green:hover {
  background-color: #358a68;
}

.form-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.paragraph-pp {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #e4dfdf;
  font-weight: 300;
}

.task-div {
  padding: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.check-mark-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 2px solid #d7e0dc;
}

.check-mark-div img {
  cursor: pointer;
}

i.action {
  cursor: pointer;
}

div.action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-left: 2px solid #d7e0dc;
}

.active-tasks-scroll-container {
  overflow: scroll;
  height: 600px;
  margin-top: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .37);
}

.flex-child-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0;
  background-color: #edeff1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .28);
}

.active-tasks-child-div .flex-child-div:nth-child(0) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.flex-child-div i {
  color: rgb(52, 72, 95);
}

.flex-child-div button {
  background: transparent;
}

.flex-child-div.completed {
  background-color: rgba(237, 239, 241, .38);
}

.text-block {
  display: inline-block;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: hsla(0, 0%, 100%, .7);
  font-weight: 400;
  text-transform: uppercase;
}

.check-mark-text-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-task-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.text-option-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  text-align: center;
}

.text-flex-child-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.completed-tasks-main-div {
  margin-top: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.active-tasks-child-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.completed-tasks-scroll-container {
  /*overflow: scroll;*/
  /*height: 420px;*/
  /*border-radius: 4px;*/
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .37);
}

.active-task-main-div {
  margin-top: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logout-button {
  display: inline-block;
  margin-top: 5px;
  padding-top: 11px;
  float: right;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
  font-family: Lato, sans-serif;
  color: #958e9e;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logout-button:hover {
  background-color: #496492;
  color: #fff;
}

.button-div {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.hide-show-task-buttons {
  padding: 18px 23px 16px;
  border-radius: 4px;
  background-color: #4caa5a;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.flex-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-parent.background {
  position: relative;
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: -webkit-linear-gradient(314deg, #2a4370, #4dbd90);
  background-image: linear-gradient(136deg, #2a4370, #4dbd90);
}

.main-content-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.login-div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.background {
  background-image: -webkit-linear-gradient(320deg, #2a4370, #4dbd90);
  background-image: linear-gradient(130deg, #2a4370, #4dbd90);
}

.tabs-container {
  margin-top: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tabs {
  display: block;
  width: 50%;
  padding-top: 18px;
  padding-bottom: 15px;
  float: left;
  border-radius: 0 2px 0 0;
  background-color: #ddd;
  font-family: Lato, sans-serif;
  color: #5b595e;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .14);
}

.tabs:nth-of-type(1) {
  border-radius: 1px 0 0 0;
  border-right: 1px solid #5b595e;
}

.tabs:nth-of-type(2) {
  border-radius: 0 1px 0 0;
}

.tabs.w--current {
  opacity: 1;
  background-color: #edeff1;
  border-radius: 0;
}

.tabs.w--current:before {
  content:'';
  width:100%;
  height:7px;
  background-color: #4dbd90;
  position:absolute;
  left: 0;
  top:-7px;
  border-radius: 1px 1px 0 0;
}

.active-tab-scroll {
  /*overflow: scroll;*/
  /*max-height: 700px;*/
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .31);
}

.tabs-menu {
  margin-bottom: 2px;
}

.tabs-content-shadow {
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
}

.login-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

html.w-mod-js *[data-ix="display-none-on-load"] {
  display: none;
}

.code-tag {
  padding: 0 1px 0 5px;
  display: inline-block;
  margin-bottom: -20px;
}

.code-tag span {
  font-weight: 300;
  color: rgb(51, 71, 95);
  line-height: 1.4em;
  font-size: 1.0em;
  font-family: 'Lucida Sans Unicode', 'Lucida Sans Typewriter', sans-serif;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -7px;
}

.code-tag span:nth-child(1) {
  letter-spacing: -10px;
  -webkit-transform: rotate(50deg) translateY(-3px);
  -moz-transform: rotate(50deg) translateY(-3px);
  -o-transform: rotate(50deg) translateY(-3px);
  -ms-transform: rotate(50deg) translateY(-3px);
  transform: rotate(50deg) translateY(-3px);
}

.code-tag span:nth-child(2) {
  line-height: 1.4em;
  font-size: 1.4em;
  vertical-align: inherit;
}

.code-tag span:nth-child(3) {
  letter-spacing: 2px;
  -webkit-transform: rotate(220deg) translateY(-8px);
  -moz-transform: rotate(220deg) translateY(-8px);
  -o-transform: rotate(220deg) translateY(-8px);
  -ms-transform: rotate(220deg) translateY(-8px);
  transform: rotate(220deg) translateY(-8px);
}

div.warning {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

div.errors {
  float: left;
  color: red;
}

input.errors {
  border: 1px solid red;
}

@media (max-width: 991px) {
  .header {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .side-block {
    width: 10%;
  }
  .login-register-button {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .68);
  }
  .form-div {
    margin-top: 50px;
    margin-bottom: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .logout-button {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }
  .form-wrapper {
    width: 85%;
  }
  .header {
    text-align: center;
  }
  .login-register-button {
    margin-left: 7px;
    padding: 11px 20px;
    font-size: 17px;
  }
  .check-mark-div {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  div.action {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  .active-tasks-scroll-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-block {
    font-weight: 400;
  }
  .text-flex-child-div {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
  }
  .check-box {
    margin-top: 10px;
  }
  .completed-tasks-scroll-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .gear {
    margin-top: 10px;
  }
  .gear.completed {
    opacity: 0.7;
  }
  .add {
    margin-top: 10px;
  }
  .logout-button {
    margin-top: 0px;
    float: none;
  }
  .tabs {
    font-size: 19px;
  }
  .sectionttabs {
    margin-right: 7px;
    margin-left: 7px;
  }
}

@media (max-width: 479px) {
  .side-block {
    width: 0;
  }
  .form-wrapper {
    width: 100%;
    border-radius: 0;
  }
  .login-register-button {
    padding: 9px 0px;
    font-size: 14px;
  }
  .text-flex-child-div {
    margin-right: 12px;
    margin-left: 12px;
    padding-right: 25px;
    font-size: 14px;
  }
  .tabs {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
  }
}

