body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #464242;
  font-size: 15px;
  font-weight: 300;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.flex-parent-task {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-parent-task.background {
  height: 0px;
  min-height: auto;
}

.todo-task .text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  white-space: pre-wrap;
  padding: 8px 12px;
  display: block;
}

.header .logo {
  padding-top: 10px;
}

.header .user-actions {
  float: right;
  display: inline-block;
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #e4dfdf;
  font-weight: 300;
}

.header .user-actions span.logout {
  margin-left: 20px;
  background-color: #3898EC;
  cursor: pointer;
  padding: 7px 10px;
}

.header .user-actions span.logout a {
  color: white;
  text-decoration: none;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.active-tasks-scroll-container {
  overflow: scroll;
  height: 600px;
  margin-top: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .37);
}

.flex-child-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0;
  background-color: #edeff1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .28);
}

.active-tasks-child-div .flex-child-div:nth-child(0) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.flex-child-div i {
  color: rgb(52, 72, 95);
}

.flex-child-div button {
  background: transparent;
}

.flex-child-div.completed {
  background-color: rgba(237, 239, 241, .38);
}

.text-block {
  display: inline-block;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: hsla(0, 0%, 100%, .7);
  font-weight: 400;
  text-transform: uppercase;
}

.check-mark-text-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-task-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.text-option-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  text-align: center;
}

.text-flex-child-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.completed-tasks-main-div {
  margin-top: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.active-tasks-child-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.completed-tasks-scroll-container {
  /*overflow: scroll;*/
  /*height: 420px;*/
  /*border-radius: 4px;*/
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .37);
}

.active-task-main-div {
  margin-top: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logout-button {
  display: inline-block;
  margin-top: 5px;
  padding-top: 11px;
  float: right;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
  font-family: Lato, sans-serif;
  color: #958e9e;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logout-button:hover {
  background-color: #496492;
  color: #fff;
}

.button-div {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.hide-show-task-buttons {
  padding: 18px 23px 16px;
  border-radius: 4px;
  background-color: #4caa5a;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.flex-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-parent.background {
  position: relative;
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: -webkit-linear-gradient(314deg, #2a4370, #4dbd90);
  background-image: linear-gradient(136deg, #2a4370, #4dbd90);
}

.main-content-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.login-div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.background {
  background-image: -webkit-linear-gradient(320deg, #2a4370, #4dbd90);
  background-image: linear-gradient(130deg, #2a4370, #4dbd90);
}

.tabs-container {
  margin-top: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tabs {
  display: block;
  width: 50%;
  padding-top: 18px;
  padding-bottom: 15px;
  float: left;
  border-radius: 0 2px 0 0;
  background-color: #ddd;
  font-family: Lato, sans-serif;
  color: #5b595e;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .14);
}

.tabs:nth-of-type(1) {
  border-radius: 1px 0 0 0;
  border-right: 1px solid #5b595e;
}

.tabs:nth-of-type(2) {
  border-radius: 0 1px 0 0;
}

.tabs.w--current {
  opacity: 1;
  background-color: #edeff1;
  border-radius: 0;
}

.tabs.w--current:before {
  content:'';
  width:100%;
  height:7px;
  background-color: #4dbd90;
  position:absolute;
  left: 0;
  top:-7px;
  border-radius: 1px 1px 0 0;
}

.active-tab-scroll {
  /*overflow: scroll;*/
  /*max-height: 700px;*/
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .31);
}

.tabs-menu {
  margin-bottom: 2px;
}

.tabs-content-shadow {
  border-radius: 0;
  /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);*/
}

.login-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

html.w-mod-js *[data-ix="display-none-on-load"] {
  display: none;
}



